body{
    background-color: rgb(54, 54, 54);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    color: #e2e8ec;
}

.digit{
    font-size: 140px;
    font-weight: bold;
}
.txt{
    font-size: 40px;
    font-weight: bold;
}
#btn-container{
    text-align: center;
    margin-top: 40px;
}
.btn{
    padding: 7px 25px;
    font-size: 15px;
    margin: 0px 10px;
    color: white;
    border: 0px;
    cursor: pointer;
}
#start{
    background-color: #1abc9c;
    border-radius: 5px;
}
#stop{
    background-color: #3498db;
    border-radius: 5px;
}
#reset{
    background-color: #e74c3c;
    border-radius: 5px;
}